# exclude programs in main folder, add the individually if necessary
*.py

# exclude plots in main folder
*.log
*.png
*.gif


# exclude cached stuff
venv*
.idea/*
.DS_Store*
__pycache__*
__pycache__/**/*.pyc

# exclude neural net code 
neural/*

# should be different for every user depending on the absolut paths
modules/Parameter_Mod.py
